
Tools/Library/

*.log

Tools/Temp/

*.csproj

Tools/.vs/

*.sln

*.cache

Learning Materials/Lessons/Intro_3D_Mincraft_DesignYourWorldFromCubes/Library/
Learning Materials/Lessons/Intro_3D_Mincraft_DesignYourWorldFromCubes/Temp/
Learning Materials/Lessons/Intro_3D_Mincraft_DesignYourWorldFromCubes/Logs/
Learning Materials/Lessons/Intro_3D_Mincraft_DesignYourWorldFromCubes/Packages/